$brand-primary: #016d9f;  //dark blue
$brand-secondary:#FEE2d6; //light pink
$brand-tertiary:#CDE7f6;  //light blue
$brand-fourth:#D297B1;  //dark pink
//$link-color: #231f20;     




// $header-fonts: 'Yanone Kaffeesatz', sans-serif;
// $body-fonts: 'Open Sans', sans-serif;